.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 134, 134);
}

.wrapper {
  background: rgba(0, 0, 0, 0.59);
  padding: 20px;
  border-radius: 10px;
  box-shadow: #282c34;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.input-wrapper input {
  border-radius: 10px;
  border: 0%;
  background-color: aliceblue;
  padding: 16px;
  height: 50px;
  width: 400px;

}

.btn2 {
  width: 90px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.613);
  background-color: rgba(255, 255, 255, 0.903);
}