.Item {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    width: 500px;
    /* height: 50px; */
    border: 3px solid hsl(222, 16%, 49%);
    border-radius: 2px;
    padding: 6px;
    background-color: rgba(40, 51, 55, 0.663);
    margin-top: 50px;
    color: #fff9f9;
    border-radius: 10px;
}

p {
    margin: 0px;
    /* border-radius: 90px; */
}

.btn1 {
    width: 90px;
    border-radius: 20px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.903);
    height: 50px;
    /* background-color: rgb(0, 146, 224); */
}